* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    background-color: white;
    min-height: 150px;
    display: flex;
}

.col {
    color: white;
    background-color: teal;
    margin: 10px;
    padding-left: 20px;
    justify-content: space-around;
    flex: 1;
}

.col-2 {
    color:white;
    background-color: teal;
    text-align: left;
    margin: 10px;
    padding-left: 20px;
    flex: 2;
}
.col-3 {
    color:white;
    background-color: teal;
    text-align: left;
    margin: 10px;
    padding-left: 20px;
    flex: 3;
}